---
layout: default
---

<header class="post-header">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3KQHBGRRL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "G-K3KQHBGRRL");
  </script>

  <div class="container">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.subtitle %}<p class="post-subtitle">{{ page.subtitle }}</p>{% endif %}

    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
  </div>
</header>

{% if page.image %}
<div class="container">
  <div class="post-featured-image">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title | escape }}">
  </div>
</div>
{% endif %}

<main class="post-content">
  <div class="container">
    {{ content }}
  </div>
</main>
